<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>874348637781-4ut9ii0tma8c6gua138fk9n1t4ncsf64.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.874348637781-4ut9ii0tma8c6gua138fk9n1t4ncsf64</string>
	<key>API_KEY</key>
	<string>AIzaSyBb3G3F2DkihrYk8OOCEqx0NcN1yQfytUs</string>
	<key>GCM_SENDER_ID</key>
	<string>874348637781</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jinnify.duomo</string>
	<key>PROJECT_ID</key>
	<string>duomo-f5b2a</string>
	<key>STORAGE_BUCKET</key>
	<string>duomo-f5b2a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:874348637781:ios:32266ccb73b8da45</string>
	<key>DATABASE_URL</key>
	<string>https://duomo-f5b2a.firebaseio.com</string>
</dict>
</plist>