<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Debug</key>
	<dict>
		<key>SeoulBicycleId</key>
		<string>5943494849726c6137355849575a57</string>
		<key>NMFClientId</key>
		<string>nz6gvsgzw0</string>
	</dict>
	<key>Release</key>
	<dict>
		<key>SeoulBicycleId</key>
		<string>5943494849726c6137355849575a57</string>
		<key>NMFClientId</key>
		<string>nz6gvsgzw0</string>
	</dict>
</dict>
</plist>
